---
layout: showcase
permalink: /members.html
tabname: "社员"
title: "历届社员"
---

<link rel="stylesheet" href="./src/members.css">

<div class="zone">
    <div class="container">
        <h1 class="page-title">历届社员</h1>
        <p>点击卡片以获得更多信息</p>
        <!-- 为了未来考虑，届别是倒着数的。 -->
        {%for year in site.data.member %}
        <h2 id="year{{year.year}}">{{year.year}} 届</h2>
        <div class="pure-g">
            {%for person in year.member %}
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3">
                <div class="person-card" {%if person.lead %}is-leader {%endif%} subtitle="{{person.house}}" {%if person.alt %}more-text="{{person.alt}}" {%endif%}">{{person.name}}</div>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</div>

<script>
    document.querySelectorAll('.person-card').forEach((item)=>{
        item.onclick = function(){
            item.classList.toggle('is-open')
        }
        item.onmouseleave = function(){
            item.classList.remove('is-open')
        }
    })
</script>