        <h1 id="成员">成员</h1>
        <h2 id="2021届">2021届</h2>
        <ul>
            <li><strong>刘语辰（诚意书院）（社长）</strong> <a href="mailto:YCL03@i.pkuschool.edu.cn">YCL03@i.pkuschool.edu.cn</a></li>
            <li>盛天成（新民书院）<a href="mailto:shengtiancheng@i.pkuschool.edu.cn">shengtiancheng@i.pkuschool.edu.cn</a></li>
            <li>陈叙传（明德书院）<a href="mailto:chenxuchuan@i.pkuschool.edu.cn">chenxuchuan@i.pkuschool.edu.cn</a></li>
            <li>朱文鹤（格物书院）<a href="mailto:zhuwenhe@i.pkuschool.edu.cn">zhuwenhe@i.pkuschool.edu.cn</a></li>
            <li>吴欣桐（正心书院）<a href="mailto:wuxintong1@i.pkuschool.edu.cn">wuxintong1@i.pkuschool.edu.cn</a></li>
        </ul>
        <h2 id="2022届">2022届</h2>
        <ul>
            <li>张文思（明德书院） <a href="mailto:zhangwensi@i.pkuschool.edu.cn">zhangwensi@i.pkuschool.edu.cn</a></li>
            <li>沈俊阳（诚意书院） <a href="mailto:shenjunyang@i.pkuschool.edu.cn">shenjunyang@i.pkuschool.edu.cn</a></li>
            <li>何天阳（正心书院） <a href="mailto:hetianyang@i.pkuschool.edu.cn">hetianyang@i.pkuschool.edu.cn</a></li>
            <li>高 幸（格物书院） <a href="mailto:gaoxing@i.pkuschool.edu.cn">gaoxing@i.pkuschool.edu.cn</a></li>
            <li>张颜开（致知书院） <a href="mailto:zhangyankai@i.pkuschool.edu.cn">zhangyankai@i.pkuschool.edu.cn</a></li>
            <li>卢丹妮（格物书院） <a href="mailto:ludanni@i.pkuschool.edu.cn">ludanni@i.pkuschool.edu.cn</a></li>
        </ul>
        <h1 id="成就">成就</h1>
        <ul>
            <li>为教务做过大量工作
                <ul>
                    <li><a href="https://mp.weixin.qq.com/s/EeCa3_i17T6fEsC_F6HaxA">成绩申诉</a>、衔接班学分抵算流程技术支持</li>
                    <li>家长开放日相关工作（<a href="https://pkuschool.github.io/ptm">导航网站</a>、表单）</li>
                </ul>
            </li>
            <li>为众多学生提供了技术上的帮助</li>
            <li>为需要的社团创建O365账号</li>
            <li>培训学校各部门、培训北大附中集团分校使用O365
                <ul>
                    <li>飞龙湖分校</li>
                    <li>北大附中工会</li>
                </ul>
            </li>
            <li>设计新生入学 Office 365 培训方案</li>
            <li>为2022届从头撰写了新生指南，投入了使用并有20k以上的访问量（不完全统计）</li>
            <li>为北大附中西三旗学校提供技术支持</li>
            <li>设计学校线上导航网页</li>
            <li>设计学校<a href="https://pkuschool.github.io/links/">应急导航页面</a></li>
            <li>设计<a href="https://pkuschool.github.io/adobedl">Adobe软件下载页面</a></li>
            <li>运营学校西楼大屏幕
                <ul>
                    <li>制作了十几张海报</li>
                    <li>为十多个个人/组织提供了服务</li>
                </ul>
            </li>
        </ul>
