<div class="card-badge-row pure-g" style="justify-content: {{badge-align}};">
    {% for cont in cursor %}
    <div class="card-badge-holder pure-u"
        {% if cont.aftercontent%}aftercontent="{{cont.aftercontent}}" {%endif%}
    >
        <div class="card-badge"
            {%if cont.reversed %}style="flex-direction: row-reverse" {%endif%}
        >
            <div class="card-badge-left"
                {%- if cont.lighttext %} lighttext {%endif%}
                {%- if cont.color %} style="background-color: {{cont.color}}" {%endif%}
                {% if cont.lineup %}style="padding-right: 7px;padding-left: 13px" {%endif%}
            >
                <span class="card-badge-count">{{cont.count}}</span>
            </div>
            <div class="card-badge-right"
                {% if cont.lineup %}style="margin-left: 8px" {%endif%}
            >
                {{cont.label}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>