<!DOCTYPE html>
<html lang="zh" style="min-height: 100vh;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" sizes="16 x 16"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAC1AAAAtQE50M6fAAACf0lEQVR4nO2bPWvbUBSGX1fFIAsCNw4UggrGJVozqIvnyFtXz9kcr8kSg9cO9dK1SX6Cs3qz8JqlGgItBIeIlJgGg40gxFFwMe0Q1EZItVQj6VjVfTbrw3r16H4cXVAO+19+IsO8oA5ADRdAHYAaLoA6ADVcAHUAargA6gDUcAHUAajhAqgDUMMFUAegJvMCXsb555oiodco+e7LHXz13d5rlKApUiTXb3ZHaPfHC4/JfAvgAqgDUJN5AbEOgsvQ7I7ACt7nosoiPrx75XtO9ejad7s5+RF4vZUTYAztfz5HH0yXvl7muwAXQB2AGi6AOgA1XAB1AGq4AOoA1ISuBFVZRL3CoCkSWEEAABg3j9AH9zg5s2DZ89hCxkkoAfUKw3Ft07NdUyRoioTDnQ3sdb7j9Pwu8oBxE9gFVFn0vfnnMFGILFDSBLaAeoW5flePrn+/fNS213C4swHj5jGVTx8IIcDp7wBg2XPXm9fp+V1qb9whsAtYD38GNyYKOK5tolzMxxoqSQIFtPtj1whfrzBctbbQa5RQ216LNVwSBAowJzNUP33zTHOaIqGz+xpXra3IlrEpCFUIGUMbb95fotkdeUSUi/lI1/KTJnQlaNlztPtjrLcuXDOBQ9BUuaosVQrrg6lHQloHxkABThNXZdGzz5zMYgmVJIF1QGdXhiqL+HxQhj6YQh/cA3gS87xIWmY1dxVYKECVRdeTd2p/P/Y6t9EmS4iFXcAY2lhvXeDkzPrrMeZkhrcfzdS2gFzY7wWYKEBTJJSLebCCAOvhqSxO6407hBbwv5L5FSEugDoANVwAdQBquADqANRwAdQBqOECqANQwwVQB6Am8wJ+AWmWqQUmboQRAAAAAElFTkSuQmCC"
        type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{site.baseurl}}{% link src/pure.css %}">
    <!-- <link href="https://cdn.bootcss.com/pure/1.0.1/pure-min.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/pure/1.0.1/grids-responsive-min.css" rel="stylesheet">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1587838_5zwfypuvw0n.css">
    <link rel="stylesheet" href="{{site.baseurl}}{% link src/main.css%}">
    <link rel="stylesheet" href="{{site.baseurl}}{% link src/mobilemenu.css%}">
    <link rel="stylesheet" href="{{site.baseurl}}{% link src/article.css%}">

    <title>{{page.title}} {%if page.title %}·{%endif%} SubIT</title>
</head>

<body style="min-height: 100vh;" onload="code()">
    <nav id="site-header" {%if page.immersed %}class="immersed-header" {%endif%}>
        <div id="site-header-content" class="container">
            <a href="#" class="pure-menu-link m-menu-opener no-left-padding hide-on-medium-and-up"
                style="display: inline-flex;align-items: center;justify-content: space-between;">
                <img src="{{site.baseurl}}{% link src/nav.svg %}" alt="" height="15" class="hide-on-medium-and-up">
                {%unless page.no-header-title%}
                <img src="{{site.baseurl}}{% link src/logowhite.svg %}" class="hide-on-medium-and-up" alt=""
                    style="height: 30px; margin-left: 15px; margin-top: 0px;" id="site-header-logo">
                {%endunless%}
            </a>
            {% if page.layout == "article" %}
            <div class="article-back hide-on-medium-and-up" style="margin: 0 0 0 auto; color: black;"
                onclick="window.open('{{site.baseurl}}/news.html','_self')">
                <!-- <i class="iconfont icon-xiangzuo"></i> -->
                <span>返回新闻列表</span>
            </div>
            {%endif%}
            <span id="site-title" class="hide-on-small">
                {%unless page.no-header-title%}
                <img src="{{site.baseurl}}{%link src/logowhite.svg %}" alt="" style="height: 45px; margin-top: 7px"
                    id="site-header-logo" onclick="window.open('{{site.baseurl}}/', '_self')">
                {%endunless%}
            </span>
            <div class="pure-menu pure-menu-horizontal hide-on-small" id="site-navigation">
                <ul class="pure-menu-list" id="navigation-items">
                    {% for item in site.data.nav %}
                    <li
                        class="pure-menu-item {%if item.subitems %} pure-menu-has-children pure-menu-allow-hover{%endif%} {%if page.tabname==item.name or page.title==item.name%}nav-current{%endif%}">
                        <a href="{{site.baseurl}}{{item.url}}" class="pure-menu-link">{{item.name}}</a>
                        {%if item.subitems %}
                        <ul class="pure-menu-children menu-custom-children">
                            {%for subitem in item.subitems %}
                            <li class="pure-menu-item">
                                <a href="{{subitem[1]}}" class="pure-menu-link">{{subitem[0]}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                        {%endif%}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </nav>
    <div class="side-menu m-side-hidden hidden" style="overflow: auto;">
        <a href="#" class="pure-menu-link m-menu-opener"
            style="height: 2em;display: inline-flex; align-items: center;justify-content: space-between; width: calc(100% - 32px);margin: 6px 0;user-select: none;-webkit-user-drag: none;">
            <img src="{{site.baseurl}}{% link src/nav.svg %}" alt="" height="15"
                style="margin-left: 10px;-webkit-user-drag: none;">
            <img src="{{site.baseurl}}{% link src/logowhite.svg %}" alt=""
                style="height: 30px; margin-top: -2px;margin-right: 3px;-webkit-user-drag: none;">
        </a>

        <!-- <div id="site-title" style="margin-top: 4px;margin-bottom: 4px;">
        </div> -->
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for item in site.data.nav %}
                <li
                    class="pure-menu-item m-side-content{%if item.subitems %} m-has-child pure-menu-allow-hover{%endif%} {%if page.tabname==item.name or page.title==item.name%}m-nav-current{%endif%}">
                    <a href="{{site.baseurl}}{{item.url}}" class="pure-menu-link">{{item.name}}</a>
                    {%if item.subitems %}
                    <ul class="m-custom-child">
                        {%for subitem in item.subitems %}
                        <li class="pure-menu-item m-side-content">
                            <a href="{{subitem[1]}}" class="pure-menu-link m-child-link">{{subitem[0]}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                    {%endif%}
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="side-bg hidden" onclick="toggleMenu()"></div>
    {{content}}
    <footer class="">
        <div class="container" id="footer-content">
            <div style="display: inline-flex;align-items: center;">
                <img src="{{site.baseurl}}{% link src/logowhite.svg %}" alt=""
                    style="height: 30px;-webkit-user-drag: none;">
                <span style="margin-left: 6px;">社团 · 2018 - 2021</span>
            </div>
            <p style="opacity: .7;"><small>上次构建：{{site.time | date: "%Y/%m/%d"}}</small></p>
        </div>
    </footer>
    <script>
        function code() {
            console.log("          _____                    _____                    _____                    _____                _____          \n" +
              "         /\\    \\                  /\\    \\                  /\\    \\                  /\\    \\              /\\    \\         \n" +
              "        /::\\    \\                /::\\____\\                /::\\    \\                /::\\    \\            /::\\    \\        \n" +
              "       /::::\\    \\              /:::/    /               /::::\\    \\               \\:::\\    \\           \\:::\\    \\       \n" +
              "      /::::::\\    \\            /:::/    /               /::::::\\    \\               \\:::\\    \\           \\:::\\    \\      \n" +
              "     /:::/\\:::\\    \\          /:::/    /               /:::/\\:::\\    \\               \\:::\\    \\           \\:::\\    \\     \n" +
              "    /:::/__\\:::\\    \\        /:::/    /               /:::/__\\:::\\    \\               \\:::\\    \\           \\:::\\    \\    \n" +
              "    \\:::\\   \\:::\\    \\      /:::/    /               /::::\\   \\:::\\    \\              /::::\\    \\          /::::\\    \\   \n" +
              "  ___\\:::\\   \\:::\\    \\    /:::/    /      _____    /::::::\\   \\:::\\    \\    ____    /::::::\\    \\        /::::::\\    \\  \n" +
              " /\\   \\:::\\   \\:::\\    \\  /:::/____/      /\\    \\  /:::/\\:::\\   \\:::\\ ___\\  /\\   \\  /:::/\\:::\\    \\      /:::/\\:::\\    \\ \n" +
              "/::\\   \\:::\\   \\:::\\____\\|:::|    /      /::\\____\\/:::/__\\:::\\   \\:::|    |/::\\   \\/:::/  \\:::\\____\\    /:::/  \\:::\\____\\\n" +
              "\\:::\\   \\:::\\   \\::/    /|:::|____\\     /:::/    /\\:::\\   \\:::\\  /:::|____|\\:::\\  /:::/    \\::/    /   /:::/    \\::/    /\n" +
              " \\:::\\   \\:::\\   \\/____/  \\:::\\    \\   /:::/    /  \\:::\\   \\:::\\/:::/    /  \\:::\\/:::/    / \\/____/   /:::/    / \\/____/ \n" +
              "  \\:::\\   \\:::\\    \\       \\:::\\    \\ /:::/    /    \\:::\\   \\::::::/    /    \\::::::/    /           /:::/    /          \n" +
              "   \\:::\\   \\:::\\____\\       \\:::\\    /:::/    /      \\:::\\   \\::::/    /      \\::::/____/           /:::/    /           \n" +
              "    \\:::\\  /:::/    /        \\:::\\__/:::/    /        \\:::\\  /:::/    /        \\:::\\    \\           \\::/    /            \n" +
              "     \\:::\\/:::/    /          \\::::::::/    /          \\:::\\/:::/    /          \\:::\\    \\           \\/____/             \n" +
              "      \\::::::/    /            \\::::::/    /            \\::::::/    /            \\:::\\    \\                              \n" +
              "       \\::::/    /              \\::::/    /              \\::::/    /              \\:::\\____\\                             \n" +
              "        \\::/    /                \\::/____/                \\::/____/                \\::/    /                             \n" +
              "         \\/____/                  ~~                       ~~                       \\/____/                              \n" +
              "                                                                                                                         ");
            console.log("招新码：N2?L50yWle*?F~sc");
        }
        document.querySelectorAll(".m-menu-opener").forEach((item, index) => {
            item.addEventListener('click', () => {
                document.querySelector('.side-menu').classList.toggle('m-side-hidden')
                document.querySelector('.side-bg').classList.toggle('hidden')
            })
        })
        function toggleMenu() {
            document.querySelector('.side-menu').classList.toggle('m-side-hidden')
            document.querySelector('.side-bg').classList.toggle('hidden')
        }
        setTimeout(() => {
            document.querySelector('.side-menu').classList.toggle('hidden')
        }, 100)
    </script>
</body>

</html>
