.article-content {
    margin-top: 30px;
}

.article-title-container {
    margin-bottom: 3px;
    background-color: white;
    padding: .5em 1.2em;
    border-radius: 5px;
    color: rgb(61, 61, 61);
    overflow: hidden;
    box-shadow: 0 2px 5px 0px #00000026;
    transition: .25s border, .25s color;
    border: 1px #ffffff01 solid;

}

.article-title-container:hover,
.article-title-container:focus {
    border: 1px rgb(189, 189, 189) solid;
    color: rgb(36, 36, 36);

}


.article-title {
    font-size: 45px;
    margin: .1em 0 .2em;
    word-wrap: break-word;
    font-weight: normal;
    /* transition: .25s; */
}

@media only screen and (max-width: 992px) {
    .article-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .article-title {
        font-size: 29px;
    }

    .hide-on-small {
        display: none !important;
    }
}

.article-description {
    word-wrap: break-word;
    padding-left: 2px;
}

article {
    margin: 0 1em;
}

article p {
    font-size: 18px;
    line-height: 1.6em;
}

p[centered] {
    text-align: center;
}

.article-back {
    display: flex;
    padding: 6px 16px;
    align-content: center;
    align-items: center;
    background: white;
    width: fit-content;
    border-radius: 3px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0px #00000026;
    user-select: none;
}

.article-back>span {
    margin-left: 4px;
}

@media (prefers-color-scheme: dark) {
    .article-title-container, .article-back {
        background: black;
        color: rgba(255, 255, 255, 0.8) !important;
        border: 1px rgb(82, 82, 82) solid;
        transition: .25s;
    }

    .article-title-container:hover,
    .article-title-container:focus,
    .article-back:hover,
    .article-back:focus {
        border: 1px rgb(182, 182, 182) solid;
        color: rgb(255, 255, 255);

    }
}

.tag-icon{
    font-size: 20px;
    margin-right: 6px;
}