.contact-card {
    margin: 5px;
    padding: 10px 16px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
        0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    border-radius: 4px;
    border: 0.1px #ffffff01 solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 230px;
}

div.pure-g.custom-font{
    font-family: -apple-system,
    BlinkMacSystemFont,
    '思源黑体',
    'Microsoft Yahei UI',
    sans-serif,
    monospace;

}

@media (prefers-color-scheme: dark) {
    .contact-card {
        background: black;
        color: rgba(255, 255, 255, 0.8);
    }

    simple-box {
        background-color: rgba(143, 143, 143, 0.363) !important;
    }

    .boya-img {
        filter: brightness(.8);
    }
}

.contact-card>h3 {
    margin: 10px 0;
    font-size: 22px;
    line-height: 24px;
}

simple-box {
    display: block;
    margin: 0px 0 6px;
    background-color: rgba(131, 131, 131, 0.103);
    padding: 8px 12px;
    border: 1px solid #00000001;
    transition: .1s;
    border-radius: 3px;
}

simple-box[title] {
    cursor: help;
}

simple-box[towards] {
    cursor: pointer;
    border-color: rgba(133, 133, 133, 0.459);
    border-style: dashed;
}

simple-box[towards]:hover {
    border-color: rgb(133, 133, 133);
    border-style: solid;
}

.contact-card>span {
    margin: 6px 0;
    line-height: 1.5em;
}

.boya-img {
    height: 120px;
    width: 120px;
    border-radius: 3px;
    transition: transform .25s, box-shadow .2s;
    transform-origin: top left;
}

.boya-img:hover {
    transform: scale(2);
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
        0 0.3px 0.9px 0 rgba(0, 0, 0, .108);

}

simple-box[horizontal] {
    display: flex;
    align-items: center;
}