/*

Layout-wide styling helpers.

Mainly serving for index.html.

*/

* {
    --accent: #0071d4
}

.zone {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.accent-background {
    background-color: #0071d4;
    color: white;
}

.no-top-padding {
    padding-top: 0;
    border-top: 0.1px #ffffff01 solid;
}

.master-title {
    font-size: 75px;
    margin: 0 0 0.23em;
    z-index: 5;
    color: white;
}

.site-title-panel {
    position: relative;
    z-index: 3;
}

#site-desc-content {
    z-index: 2;
    color: white;
    /* text-align: right; */
}

.site-title-panel::after {
    content: " ";
    box-shadow: 0px 1px 5px 0px #0071d4;
    /* background-color: antiquewhite; */
    transform: skewY(-3deg);
    z-index: -5;
    position: absolute;
    bottom: 29px;
    left: 0;
    width: 100%;
    height: 132%;
    background-color: #0071d4;
    transition: .5s transform;
}

.site-title-panel::before {
    content: " ";
    box-shadow: 0px 1px 5px 0px #a5a5a5;
    /* background-color: antiquewhite; */
    transform: skewY(6deg);
    z-index: -6;
    position: absolute;
    bottom: 55px;
    left: 00px;
    width: 100%;
    height: 132%;
    background-color: #bdbbbb;
    transition: 2s all;
}

@media (prefers-color-scheme: dark){
    .site-title-panel::before, .site-title-panel::after{
        box-shadow: none;
    }
    .site-title-panel::before{
        opacity: .6;
    }
    .site-title-panel::after{
        background-color: #0b4980;
    }
}
/*
.logo-r{
    background-color: white;
    color: #0071d4;
    height: 85px;
    width: 85px;
    border-radius: 15px;
    padding: 0 20px;
    margin-left: 6px;
    font-size: 95px;
    line-height: 85px;
} */

.logo-svg {
    width: 40%;
    min-width: 150px;
    max-width: 350px;
    margin-bottom: -1em;
    opacity: 0.95;
    user-select: none;
    -webkit-user-drag: none;
}

.master-content {
    font-size: 20px;
    opacity: 0.9;
    user-select: none;
    transition: .25s font-size;
}

@media only screen and (max-width: 600px) {
    .master-content {
        font-size: 16px;
        margin-bottom: 0;
    }

    .logo-svg {
        margin-top: -6px;
    }

    .site-title-panel::before {
        content: "";
        /* display: none; */
        opacity: 0;
    }

    .site-title-panel::after {
        transform: skewY(0deg);
    }
    .zone {
        padding-top: 0em;
    }
}

.card-badge-holder {
    /* max-height: 45px; */
    overflow: visible;
}

.card-badge {
    margin: 5px 5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    border: 0.01px #ffffff01 solid;
    transition: .25s;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
        0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    overflow: hidden;
    user-select: none;
    width: fit-content;
    background: #fafafa;
}

@media screen and (min-width: 601px){

}

.card-badge-left {
    padding: 0px 7.5px;
    background-color: #0071d470;
    /* height: calc(100% - 20px); */
    height: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif !important;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'PingFang SC',
        '思源黑体',
        'Microsoft Yahei UI',
        sans-serif,
        monospace !important;
}

.card-badge-count {
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-stretch: condensed;
    /* margin-top: 2px; */
}

.card-badge-left[lighttext]>.card-badge-count {
    color: rgb(255, 255, 255);
}

.card-badge-right {
    margin: 5px 15px;
    font-size: 16px;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'PingFang SC',
        '思源黑体',
        'Microsoft Yahei UI',
        sans-serif,
        monospace !important;
}

@media (prefers-color-scheme: dark){
    .card-badge{
        background: black;
    }
    .card-badge-count{
        color: rgb(255, 255, 255, 0.8);
    }
}

.card-badge-holder[aftercontent]::after {
    content: attr(aftercontent);
    position: relative;
    top: 0px;
    left: 5px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 15px;
    border: 0.01px #ffffff01 solid;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
        0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    max-width: 200px;
    word-wrap: break-word;
    line-height: 1.4em;
}

.the-card{
    margin: 5px;
    padding: 10px 16px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    border-radius: 4px;
    border: 0.1px #ffffff01 solid;
    background-color: white;
    display: flex;
    flex-direction: column;
}
@media (prefers-color-scheme: dark){
    .the-card{
        background: black;
        color: white;
    }
}
.the-card>*{
    word-wrap: break-word;
    text-align: center;
}
.the-card>h3{
    margin-top: .5em;
    /* margin-bottom: .6em; */
    margin-bottom: 0;
    font-size: 25px;
}
@media screen and (max-width: 600px){
    .the-card{
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    .the-card>h3{
        margin-bottom: .5em;
        padding-right: 15px;
        border-right: 1px solid grey;
        font-weight: normal;
    }
    .the-card>p {
        padding-left: 14px;
    }
    .card-badge-row{
        /* width: 100%; */
    }
}

.pure-g>p{
    letter-spacing: normal;
    line-height: 1.6em;
}