.person-card{
    margin: 5px;
    padding: 14px 16px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    cursor: help;
}

.person-card[subtitle]::after{
    content: attr(subtitle);
    font-size: 14px;
    opacity: 0.6;
}
.person-card[is-leader]{
    font-weight: bold;
    color: #0071d4
}
.person-card::before{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: attr(more-text);
    overflow: hidden;
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, .108);
    border-radius: 0 0 4px 4px;
    /* border: 0.1px #ffffff01 solid; */
    background-color: white;
    font-size: 14px;
    opacity: 0;
    z-index: 0;
    transition: .15s all;
    font-weight: normal;
    transform: translateY(-100%);
}
.person-card[more-text].is-open{
    border-radius: 4px 4px 0 0;
}
.person-card[more-text].is-open::before{
    z-index: 20;
    display: block;
    opacity: 1;
    transform: translateY(0);
}


@media (prefers-color-scheme: dark){
    .person-card,
    .person-card::before {
        background: var(--card-color-dark);
        color: rgba(255, 255, 255, 0.8);
    }
}