.article-card {
    width: 100%;
    padding: 12px 24px 18px;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0px #00000026;
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: .25s all;
    margin-bottom: 10px;
    box-sizing: border-box;
    transform: scale(0.98);
    padding-left: 50px;
    padding-top: 30px;
}
.article-card:hover{
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
    transform: scale(1);

}
.article-card-title {
    font-size: 35px;
    /* font-weight: bold; */
    margin-bottom: 10px;
    transition: .15s;
    z-index: 5;
}
@media screen and (max-width: 600px){
    .article-card-title{
        font-size: 25px;
    }
}
.article-card:hover>.article-card-title{
    color: #0071d4;
}


.article-card-info {
    color: gray;
    font-size: 13px;
    margin-bottom: 6px;
    z-index: 5;
}

.article-card-content {
    max-height: 150px;
    min-height: 80px;
    line-height: 1.6em;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-card-content>p{
    margin-top: 0;
}

.article-card-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, #ffffff30 0%, white 90%);
}

@media (prefers-color-scheme: dark) {
    .article-card {
        background: var(--card-color-dark);
        color: white;
        box-shadow: none;
        border: 1px rgb(82, 82, 82) solid;
    }

    .article-card:hover {
        box-shadow: none;
        border-color: rgb(141, 141, 141);
    }

    .article-card-mask {
        background: linear-gradient(to bottom, #00000030 0%, var(--card-color-dark) 90%);
    }
    .article-card:hover>.article-card-title {
        color: #89b8e2;
    }
}